@charset "utf-8";

* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}

.clr::after {content: ' '; display: table; width: 100%; clear: both; color: transparent; font-size: 0px; line-height: 0px;}

html {position: relative; min-height: 100%;}
body {background: #f4f4f4; font-family: Arial, sans-serif;}

/* remove outlines */
a:focus, input:focus, select:focus, textarea:focus, button:focus {outline: none;}

/* container which includes header and content part, except footer */
.container_wrapper {background: #f4f4f4;  margin-bottom: 95px;} /* margin-bottom size value equals footer height value  height: 100%;*/

/* wrapper for header */
.header_wrapper {background: #46cdd6;}
header {width: 1200px; height: 140px; margin: auto; overflow: hidden; background: #46cdd6;}
.header-logo {float: left; margin-top: 20px;}
.header-logo > a {width: 180px; height: 85px; background: url(../media/pharmacy-logo.png) 0 0 no-repeat; background-size: 180px 85px; padding: 0 0 85px 180px;}
nav {float: right; width: 900px; text-align: right;}
nav > ul {margin-top: 60px;}
nav > ul > li {display: inline-block; width: 110px; text-align: center; text-transform: uppercase;}
nav > ul > li > a {text-decoration: none;  color: #fff; font-size: 20px; line-height: 20px;}
nav > ul > li > a:hover {text-decoration: underline;}

/* wrapper for content */
.content_wrapper {background: #f4f4f4;}
.content {width: 1200px; margin: auto;}

/* wrapper for footer */
.footer_wrapper {background: #46cdd6; position: absolute; bottom: 0; width: 100%; height: 95px;}
footer {width: 1200px; height: 95px; margin: auto; overflow: hidden; background: #46cdd6;}
.footer-logo {float: left; margin-top: 20px;}
.footer-logo > a {width: 90px; height: 41px; background: url(../media/pharmacy-logo.png) 0 0 no-repeat; background-size: 90px 41px; padding: 0 0 41px 90px;}
.footer-nav {float: right; width: 900px; text-align: right;}
.footer-nav > ul {margin-top: 40px;}
.footer-nav > ul > li {display: inline-block; width: 80px; text-align: center; text-transform: uppercase;}
.footer-nav > ul > li > a {text-decoration: none;  color: #fff; font-size: 15px; line-height: 15px;}
.footer-nav > ul > li > a:hover {text-decoration: underline;}


.drugs_wrapper {overflow: hidden;}
.drug_item {display: block; position: relative; float: left; width: 300px; height: 350px; margin: 20px 50px;}
.drug_item > h3 {font-size: 18px; line-height: 24px; text-transform: uppercase; margin: 7px 0;}
.drug_item > h3 > a {color: #46cdd6; text-decoration: none;}
.drug_item > h3 > a:hover {text-decoration: underline;}
.drug_item_img {width: 300px; height: 220px; overflow: hidden;}
.drug_item_img > img {max-width: 300px;}
.drug_item > p {font-size: 16px; line-height: 20px;}
.drug_item > p > b {font-size: 16px; font-weight: bold;}

.contacts {display: block; position: relative; width: 900px; margin: 30px auto;}
.contacts > h2 {text-transform: uppercase; text-align: center;}
.contacts > p {margin: 20px; font-size: 20px;}
.contacts > ul {margin: 20px;}
.contacts > ul > li {font-size: 20px;}

.drug_page {display: block; position: relative; width: 900px; margin: 30px auto;}
.drug_page > h3 {font-size: 18px; line-height: 24px; text-transform: uppercase; margin: 7px 0; text-align: center;}
.drug_page_img {max-width: 500px; margin: 20px;}
.drug_page_img > img {max-width: 500px;}
.drug_page > p {font-size: 18px; line-height: 20px; margin: 20px;}
.drug_page > p > b {font-size: 18px; font-weight: bold;}
.drug_page > p > a {padding: 5px 20px; border: 1px solid #005F7F; border-radius: 3px; background: #46cdd6; color: #484545; text-decoration: none; cursor: pointer;}

.login_wrapper {display: block; position: relative; width: 900px; margin: 30px auto;}
.login_wrapper > h2 {font-size: 18px; line-height: 24px; text-transform: uppercase; margin: 7px 0; text-align: center;}
.login_wrapper > form {width: 600px; margin: 0 auto;}
.login_form_error {color: red; text-align: center;}
.form_field {display: block; position: relative; overflow: hidden; width: 900px; margin: 10px auto;}
.form_field input[type=submit] {margin-left: 220px; border: 1px solid #005F7F; width: 321px; height: 40px; background: #46cdd6; text-transform: uppercase; font-size: 20px; cursor: pointer;}
.form_name {display: block; position: relative; float: left; width: 230px; text-align: right; margin-right: 20px;}
.form_name > p {font-size: 20px; line-height: 40px; text-transform: uppercase; color: #484545;}
.form_input {display: block; position: relative; float: left; width: 350px;}
.form_input input {height: 40px; width: 300px; border: 1px solid #46cdd6; padding: 0 10px; font-size: 20px;}
.form_input select {height: 40px; width: 150px; border: 1px solid #46cdd6; border-radius: 5px; padding: 0 10px; font-size: 20px; cursor: pointer;}

























